body {
    font-family: "Edu TAS Beginner", serif;
    font-weight:300;
    font-size: 20px;
    background-image:url(../img/cork.png) ;
}

header {
    background-image:url(img/wall.png);
    height: 150px;
    max-width: 100%;

}
.header-container{
    height: 100%;
    width: 100%;
    text-align: center;
}

h1{
    font-size: 56px;
    font-weight: 800;
}

